<mat-sidenav-container class="contenedor-sidebar">
  <mat-sidenav #sidebar mode="side" [(opened)]="sidebarAbierto" class="sidebar">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Órdenes de Compra</mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="agregar-orden" routerLinkActive="active">Agregar Orden</a>
        <a mat-list-item routerLink="mostrar-ordenes" routerLinkActive="active">Mostrar Órdenes</a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Usuarios</mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="agregar-usuario" routerLinkActive="active">Agregar Usuario</a>
        <a mat-list-item routerLink="mostrar-usuarios" routerLinkActive="active">Mostrar Usuarios</a>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="alternarSidebar()">
        <mat-icon>{{ sidebarAbierto ? 'close' : 'menu' }}</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>
    <div class="contenido">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
